:root{

    --principal:#1E3A8A;
    --secundario:#3B82F6;
    --fondo:#F5F5F5;
    --texto:#333;
    --titulo:#111827;

}

img{

    width:100%;
    display:flex;
    justify-content: flex-start;

}

header{

    background:var(--principal);
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}