:root{

--color-principal:#0d6efd;
--color-secundario:#ffc107;
--color-fondo:#f8f9fa;
--color-texto:#212529;
--radio:15px;

}

body{

background:var(--color-fondo);

color:var(--color-texto);

}

.hero{

background:url("../img/banner.jpg") center center;

background-size:cover;

height:500px;

display:flex;

align-items:center;

}

.card{

border-radius:var(--radio);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px rgba(0,0,0,.3);

}

.btn-primary:hover{

background:var(--color-secundario);

color:black;

}

footer{

margin-top:40px;

}